# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info
dist
build

# Virtual environments
venv
env
ENV

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
../logs/*.log

# Data
../data/raw
../data/processed

# Models
../checkpoints

# macOS
.DS_Store

# Temporary
.tmp
*.tmp

